html {
  background-color: rgb(107, 235, 235);
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.card-text {
 	font-weight: bold;
 }

.border-primary {
 	border-width: 5px !important;
 }

 .border-success {
 	border-width: 5px !important;
 }

.bg-primary {
	color: rgb(230, 230, 90);
}